.main-schema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}

.header {
    grid-column: 1 / 4;
    background-color: #c4c4c4;
    height: 100px;
}

.box {
    background-color: #c4c4c4;
    margin: 10px;
    padding: 5px;
}

.option-1 {
    grid-column: 1;
    background: #c4c4c4;
    grid-row: 2 / 4;
}

.option-3 {
    background: #c4c4c4;
    grid-row: 2 / 4;
    grid-column: 3;
}

.footer {
    grid-column: 1 / 4;
    background-color: #c4c4c4;
    height: auto;
    text-align: center;
    grid-row: 5;
}

a {
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    padding-left: 5px;
}


@media only screen and (max-width: 600px) {
    .option-1 {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .option-2 {
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .option-3 {
        grid-column: 1 / 4;
        grid-row: 4;
    }
    .option-4 {
        grid-column: 1 / 4;
        grid-row: 5;
    }
    .footer {
        grid-row: 6;
    }
}